<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/statics/style.css">
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
    </header>
    <nav class="nav-link">
        <ul class="nav-sub">
            <li><a href="#about">My Bio</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact Me</a></li>
        </ul>
    </nav>
    <main>
        <section id="about">
            <h2>About Me</h2>
            <img src="/statics/images/IMG_1734.JPG" alt="my portfolio image">
            <p>Hello there! I'm Nwokedike Linus, a dedicated web developer with a passion for crafting digital experiences that captivate and inspire. What drives me as a developer is the opportunity to solve problems creatively and collaborate with like-minded individuals who share a passion for innovation. I believe in continuous learning and staying abreast of emerging technologies to deliver cutting-edge solutions that push the boundaries of what's possible on the web. Beyond coding, I find joy in exploring the great outdoors, experimenting with new recipes in the kitchen, and giving back to the community through volunteer coding workshops.

                Interested in collaborating on a project or simply want to connect? Don't hesitate to reach out via email 

            </p>

        </section>
        <section id="projects">
            <h2>Projects i have worked on:</h2>
            <ol>
                <li>ALT_Appointment_App</li>
                <li>kenny_kitchen</li>
                <li>Africal Calculator(Collaboration)</li>
            </ol>

        </section>
        <section id="skills">
            <h2>My Skills</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Python</li>
                <li>Dart</li>
                <li>Databases
                    <ul>
                        <li>Postgres</li>
                        <li>Mysql</li>
                        <li>Mongodb</li>
                    </ul>
                </li>

            </ul>
        </section>
        <section id="contact">
            <h2>Get in touch with me</h2>
            <p>Email: <a href="mailto:linusify@ymail.com">linusify@ymail.com</a></p>
        </section>


    </main>
    <footer>
        <p>&copy; 2024, Linus.</p>
    </footer>
    
</body>
</html>